::ng-deep img.logo-backs2[src*="powered-by-heyzine.png"] {
    display: none !important;
  }

  ::ng-deep .logo-backs2 {
    display: none !important;
  }

  .logo-backs2 {
    display: none !important;
  }

  .logo-backs2 {
    display: none !important;
  }
  
  a[href="https://heyzine.com"] {
    display: none !important;
  }