<div class="team-area ptb-100 bg-primary-color">
    <div class="container">
        <div class="section-title" style="margin-left: 40px">
            <h1 [innerHTML]="title" style="font-weight: 600; letter-spacing: 0 !important; display: inline-block;"></h1>
        </div>
        <div class="team-slides" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
            <div class="row" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                <div *ngFor="let beneficio of beneficios; let i = index" class="col-12 col-md-4 mb-3" style="text-align: center;">
                    <div class="beneficio">
                        <span class="titulo" [ngClass]="getTituloClase(i)">{{ beneficio.title }}</span>
                        <p class="description ">{{ beneficio.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1" style="text-align: center;">
        <img src="images/shape1.png" alt="image" style="max-width: 100%; height: auto;">
    </div>
</div>
