<div class="team-area ptb-100" style="background-color: #dcdddc;">
    <div class="container">
        <div class="section-title" style="margin-left: 40px">
            <h1 style="font-weight: 600; letter-spacing: 0 !important; display: inline-block;">El paso a paso del
                Sistema CasaForte</h1>
        </div>

        <div class="casaforte-container">

            <div class="timeline-container">
                <!-- Nivel 1 -->
                <h4>Nivel</h4>
                <div class="level-container">
                    <div class="level-header">

                        <div class="level-number">
                            <span>1</span>
                        </div>

                        <div class="level-images">
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 1 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 1 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 1 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 1 construcción">
                            </div>
                        </div>
                    </div>

                    <div class="timeline-path">
                        <div class="level-connector"></div>
                        <div class="horizontal-connector"></div>
                        <div class="curve-connector"></div>

                        <div class="sections-container">
                            <div class="section">
                                <div class="section-marker active"></div>
                                <div class="section-info">
                                    <h3>Sección 1</h3>
                                    <p>Losa de Cimentación</p>
                                </div>
                            </div>

                            <div class="section">
                                <div class="section-marker"></div>
                                <div class="section-info">
                                    <h3>Sección 2</h3>
                                    <p>Muros Estructurales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nivel 2 -->
                <div class="level-container">
                    <div class="level-header">
                        <div class="level-number">
                            <span>2</span>
                        </div>

                        <div class="level-images">
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 2 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 2 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 2 construcción">
                            </div>
                        </div>
                    </div>

                    <div class="timeline-path">
                        <div class="level-connector"></div>
                        <div class="horizontal-connector"></div>
                        <div class="curve-connector"></div>

                        <div class="sections-container">
                            <div class="section">
                                <div class="section-marker active"></div>
                                <div class="section-info">
                                    <h3>Sección 3</h3>
                                    <p>Losa de Entrepiso</p>
                                </div>
                            </div>

                            <div class="section">
                                <div class="section-marker"></div>
                                <div class="section-info">
                                    <h3>Sección 4</h3>
                                    <p>Muros Estructurales</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nivel 3 -->
                <div class="level-container">
                    <div class="level-header">
                        <div class="level-number">
                            <span>3</span>
                        </div>

                        <div class="level-images">
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 3 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 3 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 3 construcción">
                            </div>
                            <div class="level-image">
                                <img src="images/edificios/edificio1.jpg" alt="Nivel 3 construcción">
                            </div>
                        </div>
                    </div>

                    <div class="timeline-path">
                        <div class="horizontal-connector-final">
                            <div class="arrow"></div>
                        </div>
                        <div class="sections-container">
                            <div class="section">
                                <div class="section-marker active"></div>
                                <div class="section-info">
                                    <h3>Sección 5</h3>
                                    <p>Losa de Cubierta</p>
                                </div>
                            </div>

                            <div class="section">
                                <div class="section-marker"></div>
                                <div class="section-info">
                                    <h3>Obra gris</h3>
                                    <p>Finalización obra gris</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="final-stage">
                    <span>Etapa de acabados</span>
                </div>
            </div>
        </div>
    </div>
</div>