<nav class="navbar navbar-expand-lg navbar-light bg-light" [ngClass]="{'sticky': isSticky}">
    <div class="container">

        <!-- Contenedor para las dos columnas -->
        <div class="row w-100">
            <!-- Primera columna con logos y botón de clientes -->
            <div class="col-12 col-md-6 d-flex align-items-center w-100">


                <a class="navbar-brand" routerLink="/" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <img [src]="logos" alt="Logo" class="logo">
                    <!--<img src="images/CasaForte/casaForte.png" alt="Logo" class="logo">-->

                </a>
                <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div style="
                display: flex;
                align-items: center;
                width: 100%;
            ">
                    <ul class="navbar-nav ml-auto" style="">
                        <li class="nav-item social">
                            <a class="nav-link" [href]="'https://wa.me/' + whatsapp" target="_blank" title="WhatsApp"
                                style="color: var(--mainColor);">
                                <!--<i class="fab fa-instagram" style="font-weight: 600;"></i>-->
                                <img src="images/CasaForte/header/instagram.png" alt="WhatsApp Icon"
                                    style="width: 30px;  ">

                            </a>
                        </li>
                        <li class="nav-item social">
                            <a class="nav-link" [href]="'tel:' + phone" title="Llamar" style="color: var(--mainColor);">
                                <!--<i class="fab fa-youtube"></i>-->
                                <img src="images/CasaForte/header/youtube.png" alt="WhatsApp Icon"
                                    style="width: 30px;height: 18px ">
                            </a>
                        </li>
                        <li class="nav-item social">
                            <a class="nav-link social" [href]="'mailto:' + mail" title="Correo" target="_blank"
                                style="color: var(--mainColor);">
                                <!--<i class="fa fa-envelope"></i>-->
                                <img src="images/CasaForte/header/mensaje.png" alt="WhatsApp Icon"
                                    style="width: 30px; ">
                            </a>
                        </li>
                        <li class="nav-item social">
                            <a class="nav-link" [href]="'https://wa.me/' + whatsapp" target="_blank" title="WhatsApp"
                                style="color: var(--mainColor);">
                                <!--<i class="fab fa-whatsapp" style="font-weight: 600;"></i>-->
                                <img src="images/CasaForte/header/whatsaap.png" alt="WhatsApp Icon"
                                    style="width: 30px; ">
                            </a>
                        </li>
                        <li class="nav-item social">
                            <a class="nav-link" [href]="'tel:' + phone" title="Llamar" style="color: var(--mainColor);">
                                <!--<i class="fa fa-phone"></i>-->
                                <img src="images/CasaForte/header/telefono.png" alt="WhatsApp Icon"
                                    style="width: 30px; ">
                            </a>
                        </li>
                    </ul>
                    <!-- Segundo Menu con Submenú -->
                    <ul class="navbar-nav ml-auto" style="margin-left: 40px; height: 90px;">

                        <li class="nav-item" *ngFor="let item of menuCliente" [ngClass]="{'active': isActive(item)}"
                            (mouseenter)="openDropdown(item.title)" (mouseleave)="closeDropdown(item.title)"
                            style="display: flex; flex-direction: column; justify-content: center;">

                            <div style="
                    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
    padding-left: 10%;
    letter-spacing: 0px !important;
    margin-right: -20%;
    justify-content: center;
                ">
                                <span class="nav-link dropdown-toggle" [ngClass]="{'active': isActive(item)}"
                                    (click)="toggleDropdown(item.title)" style="color: black;
                                    /* padding-left: 10px; */
                                    font-weight: 400;
                                    line-height: 11px;
                                    font-size: 12px;
                                    max-width: min-content;
                                    display: flex

                                ;">
                                    {{ item.title }}
                                </span>
                                <!--<i class="fa fa-user" style="
                        padding-right: 10px;
                        font-size: xx-large;
                    "></i>-->
                                <img src="images/CasaForte/header/user.png" alt="WhatsApp Icon" style="width: 30px; ">
                            </div>

                            <ul class="dropdown-menu" [ngClass]="{'show': dropdownOpen[item.title]}"
                                *ngIf="item.submenu?.length">
                                <li *ngFor="let subItem of item.submenu">
                                    <a class="dropdown-item" [routerLink]="subItem.url" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"
                                        (click)="selectItem(item.title); $event.stopPropagation();">
                                        {{ subItem.title }}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>

</nav>
<nav class="navbar2 navbar-expand-lg navbar-light bg-light" [ngClass]="{'sticky': isSticky}">
    <div class="container">

        <div class="collapse navbar-collapse" [ngClass]="{'show': isNavbarOpen}" style="
        gap: 25px;
        ">
            <ul class="navbar-nav " style="height: 50px;">
                <!-- Item con Submenú -->
                <li class="nav-item dropdown" *ngFor="let item of menus" [ngClass]="{'active': isActive(item)}"
                    (mouseenter)="openDropdown(item.title)" (mouseleave)="closeDropdown(item.title)" style="
                display: flex;
                flex-direction: column;
                justify-content: center;
            ">
                    <span *ngIf="item.url !== null" class="nav-link dropdown-toggle"
                        [ngClass]="{'active': isActive(item)}"
                        (click)="handleNavigation(item); $event.stopPropagation();">
                        {{ item.title }}
                    </span>


                    <span *ngIf="item.url === null" class="nav-link dropdown-toggle"
                        [ngClass]="{'active': isActive(item)}" (click)="toggleDropdown(item.title)">
                        {{ item.title }}
                    </span>


                    <ul class="dropdown-menu dropdown-menu2" [ngClass]="{'show': dropdownOpen[item.title]}"
                        *ngIf="item.submenu?.length">
                        <li *ngFor="let subItem of item.submenu">
                            <!-- Si item.url no es null (es decir, es una landing), redirige a la landing y luego a la sección -->
                            <a *ngIf="item.url !== null" class="dropdown-item"
                                (click)="navigateToLandingAndSection(item.url, subItem.url); $event.stopPropagation();">
                                {{ subItem.title }}
                            </a>

                            <a *ngIf="item.url === null" class="dropdown-item" [routerLink]="subItem.url"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                                (click)="selectItem(item.title); $event.stopPropagation();">
                                {{ subItem.title }}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


        </div>
    </div>

</nav>
