<div class="main-banner">
    <div class="row h-100">
        <div class="col-lg-8">
            <div *ngFor="let slider of sliders" class="video-container">
                <ng-container>
                    <video #videoElement autoplay loop [muted]="audio" playsinline class="video-background">
                        <source src="video/slider.mp4" type="video/mp4">
                    </video>

                    <button class="sound-toggle-btn" [class.muted]="!audio" (click)="enableAudio()">
                        <i [class]="audio ? 'fa fa-volume-up' : 'fa fa-volume-off'"></i>
                        {{ audio ? 'Activar Sonido ' : 'Silenciar' }}
                    </button>

                    <div class="video-controls">
                        <!-- Botón Play/Pausa -->
                        <button class="control-btn play-pause-btn" (click)="togglePlayPause(videoElement)"
                            [title]="isPlaying ? 'Pausar' : 'Reproducir'">
                            <i [class]="isPlaying ? 'fa fa-pause' : 'fa fa-play'"></i>
                        </button>
                    </div>
                </ng-container>
                <!--<ng-template #imageContent>
                    <div [style.background-image]="'url(' + environment.api_img + slider.image.url + ')'"
                        style="width: 100%; height: 100%; position: absolute; background-size: cover;"></div>
                </ng-template>-->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="d-table" *ngFor="let slider of sliders">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-text">
                            <!--<h1 class="custom-button"> {{ slider.title }}</h1>-->
                            <h4 style="letter-spacing: -1px; line-height: 46px">{{ slider.description }}</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>