.main-banner {
	height: 750px;
    overflow: hidden;
	position: relative;
    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
        color: var(--mainColor);
    };
    &::before {
        top: 0;
        left: 0;
        width: 100%;
        content: '';
        height: 100%;
        opacity: .58;
        position: absolute;
        background: var(--mainColor);
    }
}
.main-banner-text {
    position: relative;
    //text-align: center;
    z-index: 1;
    padding-right: 15%;

    h4 {
        color: var(--blackColor);
        font: {
            weight: 400;
            size: 40px;
        };
    }
    h1 {
        color: var(--blackColor);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 25px;
    }
    p {
        color: var(--whiteColor);
        font-size: 15.5px;
        max-width: 650px;
        margin: {
            left: auto;
            right: auto;
            bottom: 30px;
        };
    }
    .btn {
        margin: {
            left: 7px;
            right: 7px;
        };
        &:hover, &:focus {
            border-color: var(--whiteColor);
        }
    }
    .view-work {
        background: transparent;
        border-color: var(--whiteColor);

        &:hover, &:focus {
            border-color: var(--mainColor);
            background: var(--mainColor);
            color: var(--whiteColor);
        }
    }
}
.video-container{
    width: 100%;
    height: 100%;
    display: flex
;
    justify-content: center;
    align-items: center;
    position: relative;
}
.video-background {
	width: 80%;
    height: 60%;
    object-fit: cover;
    position: absolute;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .main-banner {
        height: auto;
        padding: {
            top: 175px;
            bottom: 120px;
        };
    }
    .main-banner-text {
        h4 {
            font-size: 15px;
        }
        h1 {
            font-size: 30px;
            line-height: 40px;
            margin: {
                top: 15px;
                bottom: 15px;
            };
        }
        p {
            font-size: 14px;
            max-width: 100%;
        }
        .btn {
            margin: {
                left: 4px;
                right: 4px;
            };
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .main-banner {
        height: auto;
        padding: {
            top: 175px;
            bottom: 120px;
        };
    }
    .main-banner-text {
        h4 {
            font-size: 17px;
        }
        h1 {
            font-size: 40px;
            margin: {
                bottom: 20px;
                top: 25px;
            };
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .main-banner-text {
        margin-top: 30px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .main-banner {
        height: 100vh;
    }

}

.custom-button {
    background-color: #ffffff !important; /* Color de fondo similar al de la imagen */
    color: black; /* Color del texto */
    font-weight: bold; /* Negrita */
    border: none;
    padding-right: 30px !important;
    padding: 8px 16px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
    border-radius: 0px !important;
}

.custom-button:hover {
    background-color: #000000; /* Efecto hover con un tono más oscuro */
}