<div class="main-banner">
    <div class="row h-100">
        <div class="col-lg-6">
            <div *ngFor="let slider of sliders" class="video-container">
                <ng-container *ngIf="isVideo(slider.image.url); else imageContent">
                    <video autoplay loop [muted]="true" playsinline class="video-background">
                        <source [src]="slider.videoUrl" type="video/mp4">
                    </video>
                </ng-container>
                <ng-template #imageContent>
                    <div [style.background-image]="'url(' + environment.api_img + slider.image.url + ')'"
                        style="width: 100%; height: 100%; position: absolute; background-size: cover;"></div>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="d-table" *ngFor="let slider of sliders">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="main-banner-text">
                            <h1 class="custom-button"> Sistema CasaForte</h1>
                            <!--<h1><span>Boonker</span></h1>-->
                            <h4>{{ slider.title }}</h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>