<div class="cta-area ">
    <h3 style="background: #f5a414;padding: 15px;text-align: center;font-weight: 600;">Pisos del proyecto</h3>


    <div class="container">
        <div class="plans">
            <!-- Piso 1 -->
            <div class="plan">
                <img src="images/CasaForte/plano.png" alt="Plano Piso 1" />
                <div class="label">
                    <span class="circle1">P1</span> Piso 1
                </div>
            </div>

            <!-- Piso 2 -->
            <div class="plan">
                <img src="images/CasaForte/plano.png" alt="Plano Piso 2" />
                <div class="label">
                    <span class="circle1">P2</span> Piso 2
                </div>
            </div>
        </div>
    </div>


    <h3 style="background: #f5a414;padding: 15px;text-align: center;font-weight: 600;margin-top: 3%;margin-bottom: 3%;">
        Secciones,
        metrajes y tiempos de
        ejecución</h3>

    <div class="container">

        <div class="categories">
            <div class="category" style="width: 60%;"><span class="icon">M</span> Muros</div>
            <div class="category"><span class="icon">L</span> Losas</div>
        </div>
        <div *ngIf="vistaActual === 'losas'">
            <div class="content">
                <!-- Imagen central -->
                <div class="image-container">
                    <img src="images/CasaForte/estructura3d.png" alt="Casa en construcción" />

                    <!-- Círculos interactivos -->
                    <div *ngFor="let section of sections" class="circle"
                        [ngClass]="{ active: activeSection === section.id }" [style.top]="section.top"
                        [style.left]="section.left" (click)="selectSection(section.id)"></div>
                </div>


                <div class="info-box" *ngFor="let section of sections"
                    [ngClass]="{ show: activeSection === section.id }"
                    [ngStyle]="{'top': section.infoTop, 'left': section.infoLeft}">
                    <div class="section-header">
                        <span style="font-size: 12px;">Seccion {{ section.id }}</span>
                        <span class="section-id">S{{ section.id }}</span>
                    </div>
                    <div class="section-content">
                        <div class="section-name">{{ section.name }}</div>
                    </div>
                    <div class="section-content2">
                        <div class="section-details2">
                            {{ section.area }} m² <br>
                            {{ section.time }} días
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="vistaActual === 'muros'">
            <div class="content">
                <!-- Imagen central -->
                <div class="image-container">
                    <img src="images/CasaForte/muro3d.png" alt="Casa en construcción" />

                    <!-- Círculos interactivos -->
                    <div *ngFor="let section of sectionsPosterior" class="circle"
                        [ngClass]="{ active: activeSectionPosterior === section.id }" [style.top]="section.top"
                        [style.left]="section.left" (click)="selectSectionPosterior(section.id)"></div>
                </div>


                <div class="info-box" *ngFor="let section of sectionsPosterior"
                    [ngClass]="{ show: activeSectionPosterior === section.id }"
                    [ngStyle]="{'top': section.infoTop, 'left': section.infoLeft}">
                    <div class="section-header">
                        <span style="font-size: 12px;">Seccion {{ section.id }}</span>
                        <span class="section-id">S{{ section.id }}</span>
                    </div>
                    <div class="section-content">
                        <div class="section-name">{{ section.name }}</div>
                    </div>
                    <div class="section-content2">
                        <div class="section-details2">
                            {{ section.area }} m² <br>
                            {{ section.time }} días
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="botones-vista">
            <button [class.activo]="vistaActual === 'losas'" (click)="cambiarVista('losas')" class="btn-vista losas">
                Vista Frontal
            </button>
            <button [class.activo]="vistaActual === 'muros'" (click)="cambiarVista('muros')" class="btn-vista muros">
                Vista Posterior
            </button>
        </div>
    </div>


</div>