<div class="cta-area ptb-100">
    <div class="container">
        <div class="cta-content">
            <!--INICIO-->
            <div class="proyecto-container">
                <h1 class="titulo">Secciones del Proyecto: {{ totalSecciones }}</h1>

                <div class="botones-vista">
                    <button [class.activo]="vistaActual === 'losas'" (click)="cambiarVista('losas')"
                        class="btn-vista losas">
                        Secciones impares: LOSAS
                    </button>
                    <button [class.activo]="vistaActual === 'muros'" (click)="cambiarVista('muros')"
                        class="btn-vista muros">
                        Secciones pares: MUROS
                    </button>
                </div>

                <div class="navegacion-secciones" *ngIf="vistaActual === 'losas'">
                    <div class="plano-container">
                        <img src="images/CasaForte/plano.png" alt="Plano" class="plano-imagen" />

                    </div>

                    <div class="estructura-3d-container">
                        <div class="estructura-3d">
                            <img src="images/CasaForte/estructura3d.png" alt="Estructura 3D"
                                class="estructura-imagen" />

                            <!-- Áreas interactivas sobre la estructura 3D -->
                            <div *ngFor="let seccion of seccionesFiltradas" class="area-interactiva-3d"
                                [class.destacada]="seccion.destacada" [attr.data-seccion-id]="seccion.id"
                                (mouseenter)="mostrarInfoSeccion(seccion)" (mouseleave)="ocultarInfoSeccion()">
                            </div>
                        </div>
                    </div>
                    <div style="flex: 1;">
                        <!-- Tarjetas de información -->
                        <div *ngFor="let seccion of seccionesFiltradas" class="tarjeta-info"
                            [class.visible]="seccion.destacada" [attr.data-seccion-id]="seccion.id">
                            <div class="seccion-header">
                                {{ seccion.nombre }}
                            </div>
                            <div class="seccion-info">
                                <p> {{ seccion.volumen }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navegacion-secciones" *ngIf="vistaActual === 'muros'">
                    <div class="plano-container">
                        <img src="images/CasaForte/planomuro.png" alt="Plano" class="plano-imagen" />
                    </div>

                    <div class="estructura-3d-container">
                        <div class="estructura-3d">
                            <img src="images/CasaForte/muro3d.png" alt="Estructura 3D" class="estructura-imagen" />
                            <div *ngFor="let seccion of seccionesFiltradas" class="area-interactiva-3d"
                                [class.destacada]="seccion.destacada" [attr.data-seccion-id]="seccion.id"
                                (mouseenter)="mostrarInfoSeccion(seccion)" (mouseleave)="ocultarInfoSeccion()">
                            </div>
                        </div>
                    </div>
                    <div style="flex: 1;">
                        <div *ngFor="let seccion of seccionesFiltradas" class="tarjeta-info"
                            [class.visible]="seccion.destacada" [attr.data-seccion-id]="seccion.id">
                            <div class="seccion-header">
                               {{ seccion.nombre }}
                            </div>
                            <div class="seccion-info">
                                <p> {{ seccion.volumen }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--FINNNN-->
            <!--INICIO 2-->
            <div class="dinteles-container">
                <h1 class="titulo">Dinteles por piso (secciones pares)</h1>

                <div class="secciones-grid">
                    <!-- Sección Piso 1 -->
                    <div class="seccion-item " *ngFor="let dintel of dinteles">
                        <div class="plano-container">
                            <img src="images/CasaForte/dintel1.png" alt="Plano Piso 1" class="plano-imagen">
                            <!-- Las líneas azules se pueden implementar como divs posicionados sobre la imagen -->
                            <div class="lineas-estructurales"></div>
                        </div>

                        <div class="detalles-container">
                            <div class="seccion-header">
                                {{dintel.nombre }}
                            </div>

                            <table class="tabla-detalles">
                                <thead>
                                    <tr>
                                        <th>Cantidad</th>
                                        <th>Longitud (m)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let dintelN of dintel.dinteles">
                                        <td>{{ dintelN.title }}</td>
                                        <td>{{ dintelN.url }} </td>
                                    </tr>
                                    <tr class="total-row">
                                        <td>{{ dinteles[0].cantidadTotal }}</td>
                                        <td>{{ dinteles[0].longitudTotal }} m</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <!--FIN2-->
        </div>
    </div>
</div>
