<div id="services-boonker" class="services-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>{{title}}</h2>
            <p>{{description}}</p>

        </div>
        <div class="row justify-content-center">
            <p>{{content}}</p>
            <div class="col-lg-4 col-md-6" *ngFor="let item of materials?.data">
                <div class="single-services" style="margin-top: 16px">
                    <div role="button" class="services-img" (click)="selectProduct(item)"
                        [routerLink]="['/sistema-boonker-products', item.documentId]">
                        <img [src]="environment.api_img + item.image[0].url" alt="services-img">
                        <div class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                    </div>
                    <div class="services-content">
                        <h3>{{item.title}}</h3>
                        <p>{{item.description}}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>