<div id="work" class="work-area pt-100">
    <div class="container">
        <div class="section-title-casa">
            <h2 style="letter-spacing: 0">{{ title }}</h2>
            <p>{{ description }}</p>
        </div>
    </div>

    <div class="container">
        <div class="work-tabs">
            <!-- Pestañas principales -->
            <ul class="nav-tabset">
                <li *ngFor="let tab of tabs" class="nav-tab" [ngClass]="{ 'active': currentTab === tab.number }">
                    <span (click)="switchTab(tab.number)">
                        {{ tab.title }}
                    </span>
                </li>
            </ul>

            <div class="tabs-container">
                <div *ngIf="filteredWorks.length > 0">
                    <div class="pane">
                        <div class="row">
                            <!-- Imágenes de los trabajos -->
                            <div class="col-lg-4" *ngFor="let workItem of filteredWorks">
                                <div class="single-work" (click)="selectWork(workItem)">
                                    <img [src]="workItem.img" alt="work-img">
                                </div>
                            </div>

                            <!-- Sección de categorías de la imagen seleccionada -->
                            <div class="col-lg-12" *ngIf="workSelected">
                                <div class="work-content">
                                    <ul class="nav-tabset-categorias" *ngIf="workSelected.categorias?.length">
                                        <li *ngFor="let categoria of workSelected.categorias" class="nav-tab-categorias"
                                            [ngClass]="{ 'active': currentTab2 === categoria.id }">
                                            <span (click)="switchTab2(categoria)">
                                                <img class="imgCategorias"
                                                    [src]="environment.api_img + (categoria.icon?.url || 'images/Maestra.png')"
                                                    alt="categoria-img">
                                                <p style="margin-top:10px;letter-spacing: 0; font-size: 14px;">
                                                    {{ categoria.title }}
                                                </p>
                                            </span>
                                        </li>
                                    </ul>

                                    <!-- Contenido de la categoría seleccionada -->
                                    <div *ngIf="currentTab2 && workSelected"
                                        style="max-width: 643px; padding-bottom: 16px; color: #6f6f6e; font-size: 15px;">
                                        {{ getCategoriaContent() }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Mensaje si no hay trabajos en la pestaña seleccionada -->
                <p *ngIf="filteredWorks.length === 0">No hay trabajos disponibles para esta categoría.</p>
            </div>
        </div>
    </div>
</div>