<div id="work" class="work-area pt-100 ">
    <div class="container">
        <div class="section-title-casa">
            <h2>Grandes beneficios para viviendas en serie </h2>
            <!--<p>La mejor solución estructural para proyectos de viviendas de 50m² a 120m²</p>-->
        </div>
    </div>



    <div class="banner-container">
        <div class="banner-izquierdo">
            <h2>CONSTRUCTIVO EJECUCIONAL</h2>
            <div class="contenedor-titulo">
                <h2 class="titulo">
                    <span class="primera-palabra">Simplifica</span>
                    <span class="segunda-linea">al máximo</span>
                    <span class="tercera-linea">la construcción</span>
                </h2>
            </div>
        </div>
        <div class="banner-derecho">
            <p class="descripcion">
                Permite obras grises en pasos muy sencillos de realizar, minimizando los posibles errores humanos a
                nivel estructural y acortando tiempos de ejecución.
            </p>
        </div>
        <div class="paginacion">
            <span class="punto activo"></span>
            <span class="punto"></span>
            <span class="punto"></span>
            <span class="punto"></span>
            <span class="punto"></span>
            <span class="punto"></span>
        </div>
    </div>
</div>