<div id="beneficios2" class="work-area pt-100 ">
    <div class="container">
        <div class="section-title-casa">
            <h2 style="letter-spacing: 0">Grandes beneficios para viviendas en serie </h2>
            <!--<p>La mejor solución estructural para proyectos de viviendas de 50m² a 120m²</p>-->
        </div>
    </div>





    <div class="home-slides" id="banner">
        <owl-carousel-o [options]="homeSlides">

            <ng-template carouselSlide *ngFor="let slider of sliders">
                <!--<div class="main-banner" [style.background-image]="'url(' + environment.api_img + slider.image.url + ')'">
                -->
                <div class="main-banner">
                    <div class="banner-container">
                        <div class="banner-izquierdo">
                            <h5 style="padding-left: 24%;padding-bottom: 10px; letter-spacing: 0">{{slider.titulo1}}
                            </h5>
                            <div class="contenedor-titulo">
                                <h2 class="titulo">
                                    <span class="primera-palabra"
                                        style="letter-spacing: 0; margin-left: 12px">{{slider.titulo2}}</span>
                                </h2>
                            </div>
                            <div class="contenedor-titulo1">
                                <h2 class="titulo1" style="line-height: 50px; padding-top: 16px; padding-bottom: 16px">
                                    <span class="segunda-linea" style="letter-spacing: 0">{{slider.titulo3}}</span>

                                </h2>
                            </div>
                        </div>
                        <div class="banner-derecho">
                            <p class="descripcion" style="letter-spacing: 0; ">
                                {{slider.contenido}}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>


        </owl-carousel-o>
    </div>
</div>