<div id="beneficios2" class="work-area">
    <div class=" fondo-negro-imagen">
        <div class="container" style="display: flex;align-items: center;">
            <!-- Imagen y texto en la misma línea -->
            <img src="images/flecha_amarilla.png" alt="">

            <!-- Contenido de texto -->
            <div class="section-title-casa">
                <h2>Bienvenido al portal de servicios CasaForte. <br> Conoce sus grandes beneficios constructivos.</h2>
                <!--<p>La mejor solución estructural para proyectos de viviendas de 50m² a 120m²</p>-->
            </div>
        </div>

    </div>

    <div class="home-slides" id="banner">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide *ngFor="let slider of sliders">
                <div class="main-banner">
                    <div class="banner-container">
                        <div class="banner-izquierdo">
                            <div class="contenedor-titulo">
                                <h2 class="titulo">
                                    <span class="primera-palabra"
                                        style="letter-spacing: 0; margin-left: 12px">{{slider.titulo2}}</span>
                                </h2>
                            </div>
                            <div class="contenedor-titulo1">
                                <h2 class="titulo1" style="line-height: 50px; padding-top: 16px; padding-bottom: 16px">
                                    <span class="segunda-linea" style="letter-spacing: 0">{{slider.titulo3}}</span>
                                </h2>
                            </div>
                        </div>
                        <div class="banner-derecho">
                            <p class="descripcion" style="letter-spacing: 0; ">
                                {{slider.contenido}}
                            </p>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>