<div id="work" class="work-area pt-100 bg-primary-color" style="margin-bottom: 1%;">
    <div class="container">
        <div class="section-title-casa">
            <h2 style="font-weight: 600; font-size: 2.5rem;">Conoce todos nuestros proyectos</h2>
        </div>
    </div>

    <!-- Carrusel de imágenes -->
    <div class="container home-slides" id="bannerSlides">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide *ngFor="let slider of sliders">
                <div class="main-banner">
                    <div class="banner-container">
                        <div class="single-work">
                            <img [src]=" environment.api_img + slider.imagenes.url " alt="work-img"
                                style="height: -webkit-fill-available;">
                            <div class="work-content">
                                <h3>{{slider.titulo}}</h3>
                                <button class="button-img" [routerLink]="['/galeria-casa-forte/' + slider.id]"
                                    routerLinkActive="router-link-active">
                                    {{slider.button}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

    <!-- Imagen de fondo -->
    <div class="shape1">
        <img src="images/CasaForte/fondo.png" alt="image">
    </div>
</div>