<footer class="footer-area">
    <div class="container">
        <!--<h3><a routerLink="/"><span>X</span>avro</a></h3>
        <ul>
            <li><a href="#" target="_blank" class="fab fa-facebook-f"></a></li>
            <li><a href="#" target="_blank" class="fab fa-twitter"></a></li>
            <li><a href="#" target="_blank" class="fab fa-linkedin-in"></a></li>
            <li><a href="#" target="_blank" class="fab fa-instagram"></a></li>
            <li><a href="#" target="_blank" class="fab fa-skype"></a></li>
        </ul>
        <p>© Xavro is Proudly Owned by <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>-->

        <div class="row">
            <!-- Logo en la parte superior izquierda -->
            <div class="col-lg-1 col-md-6 col-sm-12">
            </div>
            <div class="col-10 ">
                <div class="footer-logo" style="text-align: start;">
                    <img src="images/logo/boonker_footer.png" alt="Boonker Logo"
                        style="width: 20rem;left: -20px;position: relative;">
                </div>
            </div>
            <div class="col-lg-1 col-md-6 col-sm-12">
            </div>

            <!-- 5 columnas -->
            <div class="col-12 ">
                <div class="row">
                    <!-- Información de contacto -->
                    <div class="col-lg-1 col-md-6 col-sm-12">
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-section">
                            <h3 style="color: white; text-align: left;">Información de contacto</h3>
                            <p style="text-align: left;">Av Manuel Córdova Galarza, Km. 5 1/2, vía Mitad del Mundo,
                                Calacalí, Quito,
                                Ecuador.</p>
                            <p style="text-align: left;">comercial&#64;boonkercon
                                strucciones.com</p>
                            <p style="text-align: left;">+(593) 9 8 8539 589</p>
                            <p style="text-align: left;">+(593) 2 476 0357</p>
                        </div>
                    </div>

                    <!-- Solución Estructural -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-section">
                            <h3 style="color: white;text-align: left;">Solución Estructural</h3>
                            <p></p>
                        </div>
                    </div>

                    <!-- Versatilidad Constructiva -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-section">
                            <h3 style="color: white;text-align: left;">Versatilidad Constructiva</h3>
                            <p></p>
                        </div>
                    </div>

                    <!-- Servicio Integral -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-section">
                            <h3 style="color: white;text-align: left;">Servicio Integral</h3>
                            <p></p>
                        </div>
                    </div>

                    <!-- Calidad Garantizada -->
                    <div class="col-lg-2 col-md-6 col-sm-12">
                        <div class="footer-section">
                            <h3 style="color: white;text-align: left;">Calidad Garantizada</h3>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-6 col-sm-12">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--<app-demo-sidebar />-->
<app-boonker-sidebar />
<app-back-to-top />