<footer class="footer-area">
    <div class="container">
        <div class="logo-container">
            <img src="http://54.145.52.187:1338/uploads/logo_Destok_f8576921f9.png" alt="Logo" style="width: 60%;">
        </div>

        <div class="footer-container">
            <div class="footer-content">
                <!-- Sección Sobre Nosotros -->
                <div class="footer-section">
                    <h3>Sobre Nosotros</h3>
                    <p>Somos una empresa comprometida con ofrecer los mejores productos y servicios a nuestros clientes.
                        Nuestra misión es superar sus expectativas.</p>
                    <div class="social-icons">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>

                <!-- Sección Enlaces Útiles -->
                <div class="footer-section">
                    <h3>Enlaces Útiles</h3>
                    <ul class="footer-links">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="/sistema-casa-forte">Solucion Constructiva</a></li>
                        <li><a href="/beneficios-casa-forte">Beneficios</a></li>
                        <li><a href="/galeria-casa-forte">Galeria de Proyectos</a></li>
                    </ul>
                </div>

                <!-- Sección Información Legal -->
                <div class="footer-section">
                    <h3>Información Legal</h3>
                    <ul class="footer-links">
                        <li><a href="/terminos-condiciones">Términos y Condiciones</a></li>
                        <li><a href="/politica-privacidad">Política de Privacidad</a></li>
                        <li><a href="/politica-cookies">Política de Cookies</a></li>
                        <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                    </ul>
                </div>

                <!-- Sección Contacto -->
                <div class="footer-section">
                    <h3>Contacto</h3>
                    <div class="contact-info">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Vía Calacalí, Quito, Ecuador </span>
                    </div>
                    <div class="contact-info">
                        <i class="fas fa-envelope"></i>
                        <span>comercial&#64;boonkerconstrucciones.com</span>
                    </div>
                    <div class="contact-info">
                        <i class="fas fa-phone"></i>
                        <span>+593 988-539-589</span>
                    </div>

                    <div class="subscribe-form">
                        <input type="email" placeholder="Tu correo electrónico">
                        <button type="submit">Suscribirse</button>
                    </div>
                </div>
            </div>

            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <p>&copy; 2025 CASAFORTE. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>

<!--<app-demo-sidebar />-->
<!--<app-boonker-sidebar />-->
<app-back-to-top />