<div class="home-slides" id="banner" style="background: #e4e4e4;padding: 5%;">
    <div class="home-slides container" id="bannerSlides">
        <div style="text-align: center;padding-bottom: 2%;">
            <h2 style="font-weight: 600;">
                Reduce hasta un 60% el tiempo de ejecución de tus obras
                grises y ahorra hasta un 20% de costos directos </h2>
        </div>

        <div class="main-banner" style="position: relative;">
            <ng-container *ngIf="isVideo(sliders?.imagenes?.url); else imageContent">
                <!-- Video como fondo -->
                <video autoplay loop muted [muted]="true" playsinline class="video-background">
                    <source [src]="sliders?.videoUrl" type="video/mp4">
                </video>
            </ng-container>
            <ng-template #imageContent>
                <!-- Imagen como fondo -->
                <div *ngIf="sliders?.imagenes?.url"
                    [style.background-image]="'url(' + environment.api_img + sliders.imagenes.url + ')'"
                    class="banner-image">
                </div>
            </ng-template>

            <div class="d-table table-new">
                <div class="d-table-cell">
                    <div class="main-banner-text" style="background-color: black; padding: 4%;">
                        <p *ngIf="sliders?.titulo" class="container text-sm font-medium text-[25px]"
                            style="color: var(--mainColor);">
                            {{ sliders.titulo }}
                        </p>
                        <p *ngIf="sliders?.m2" class="container text-sm font-medium text-[25px]">
                            {{ sliders.m2 }} m2
                        </p>
                        <p *ngIf="sliders?.pisos" class="container text-sm font-medium text-[25px]">
                            {{ sliders.pisos }} pisos
                        </p>
                        <p *ngIf="sliders?.dias" class="container text-sm font-medium text-[25px]">
                            {{ sliders.dias }} laborables
                        </p>
                        <p *ngIf="sliders?.cuadrilla" class="container text-sm font-medium text-[25px]">
                            {{ sliders.cuadrilla }} personas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>