<div id="work" class="work-area pt-100 bg-black-color" style="margin-bottom: 1%;padding-bottom: 10%;">
    <div class="container">
        <div class="section-title-casa">
            <h2>VER MAS PROYECTOS </h2>
        </div>
    </div>

    <div class="container home-slides" id="bannerSlides">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide *ngFor="let slider of sliders">
                <div class="main-banner">
                    <div class="banner-container">
                        <div class="single-work" [routerLink]="['/galeria-casa-forte/1']"
                            routerLinkActive="router-link-active">
                            <img [src]=" environment.api_img + slider.imagenes.url " alt="work-img"
                                style="height: -webkit-fill-available;">
                            <div class="work-content">
                                <h3>{{slider.titulo}}</h3>
                                <button class="button-img">{{slider.button}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>